# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc / ide
.DS_Store
*.pem
.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local
.env.test

# playwright auth
playwright/.auth

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# npm pack (System Design library)
ost-cas-fee-adv-23-24-design-system-pixelpioneers-0.0.0-development.tgz

# testing
/test-results/
/playwright-report/
/playwright/.cache/

# serwist
**/public/workbox-*.js
**/public/sw.js
**/public/worker-*.js